:root {
    --gap: 24px;
    --content-gap: 20px;
    --nav-width: 1024px;
    --main-width: 720px;
    --header-height: 60px;
    --footer-height: 60px;
    --radius: 8px;
    --theme: rgb(255, 255, 255);
    --entry: rgb(255, 255, 255);
    --primary: rgb(30, 30, 30);
    --secondary: rgb(108, 108, 108);
    --tertiary: rgb(214, 214, 214);
    --content: rgb(31, 31, 31);
    --hljs-bg: rgb(28, 29, 33);
    --code-bg: rgb(245, 245, 245);
    --border: rgb(238, 238, 238)
}

.post-content{
    /* 设置中文字体 */
    font-family: "Microsoft YaHei", "PingFang SC", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", "SimSun", sans-serif;
    font-size: 0.9rem;
    line-height: 1.6;
    /* 段落间距 */
    margin-bottom: 1em;
    /* 段落首行缩进 */
    /* text-indent: 2em; */
}
body {
    font-size: 16px;
    /* 行间距 */
    line-height: 1.2;
    word-break: break-word;
    background: var(--theme)
}
.body-dark .post-content{

    font-size: 0.8rem;
    line-height: 1.1;
}
h1, h2, h3, h4, h5, h6 {
    line-height: 1.2;
}
.h1{
    font-size: 1.1rem;
}
h2{
    font-size: 1.6rem;
}
h3{
    font-size: 1.4rem;
}
h4{
    font-size: 1.2rem;
}
h5{
    font-size: 1rem;
}
h6{
    font-size: 0.9rem;
}
/* 设置目录字体 */
.TableOfContents {
    font-family: "Microsoft YaHei", "PingFang SC", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", "SimSun", sans-serif;
    font-size: 0.8rem;
    line-height: 1.2;
}
.toc {
    margin: 0 2px 40px;
    border: 1px solid var(--border);
    background: var(--code-bg);
    border-radius: var(--radius);
    padding: .4em;
    font-size: 15px
}

.dark .toc {
    background: var(--entry)
}

.toc details summary {
    cursor: zoom-in;
    margin-inline-start:20px}

.toc details[open] summary {
    cursor: zoom-out
}

.toc .details {
    display: inline;
    font-weight: 500
}

.toc .inner {
    font-size: 0.8rem;
    font-family: "Microsoft YaHei", "PingFang SC", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", "SimSun", sans-serif;
    margin: 0 20px;
    padding: 10px 20px
}

.toc li ul {
    margin-inline-start:var(--gap)}

.toc summary: focus {
    outline:0
}
.post-content pre,
code {
  font-family: "JetBrains Mono", monospace,SimSun, sans-serif;
  font-size: 0.9rem;
  
  line-height: 1.2;
}
:root {
    --hljs-bg: #282C34;
}
.dark {
    --hljs-bg: #272b33;
}